@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Geist:wght@100..900&family=Heebo:wght@100..900&family=Inika:wght@400;700&family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #060d18;
  font-family: "Roboto", "sans-serif";
  font-weight: bold;
}


.menuMain {
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  transition: left 0.2s ease-in-out;
  width: 140px;
  height: 700px;
  background: #242d3d;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
}


@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
.search{
  text-align: center;
}
  .menuMain {
    left: -140px;
    width: 140px;
  }

  .menuMain.open {
    left: 0;
  }


  .openBtn {
    display: block;
    position: fixed;
    top: 15px;
    left: 0;
    background: none;
    color: white;
    padding: 10px 0;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .wind-info h1 {
    padding-right: 15px;
  }

  .second_section {
    padding-right: 20px;

  }

  .closeBtn {
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 100px;


  }

  .main_box {
    display: flex;
    flex-direction: column;
  }



  .weather_forecast {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: -15px !important;
  }


  .weather-image {
    width: 80px;
    height: 80px;

  }

  .weather-info {
    margin: 0 auto;
    text-align: center;
  }

  .weather-info h1,
  h2 {
    font-size: 28px;
  }


  .forecast-item img {
    width: 20px;
    height: 20px;

  }

  .weather-container {
    padding-left: 0;
  }

  .titleForecast {
    text-align: center;
  

  }


  .temperature-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .forecast-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background: #242d3d;
    padding: 9px;
    border-radius: 8px;
  }

  .line {
    display: none;
  }
}


@media screen and (min-width:481px) {
  .openBtn {
    display: none;
  }

  .closeBtn {
    display: none;
  }


}

.Weather_nav {
  margin-top: 20px;

}

.container {
  display: flex;
  justify-content:center;

}

.mani_box {
  display: flex;
}


.search {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  color: white;
  background: #242d3d;
  border: none;
  padding-left: 10px;
}

.search::placeholder {
  color: white;
}

.img_umbrella {
  margin: 0 auto;
  padding-top: 25px;

}

.weather-icon {
  display: inline-flex;
  flex-direction: column;
  margin-top: 30px;
}

.buttonIcon {
  background: none;
  border: none;
  color: #8a96a9;
  margin-top: 30px;
  cursor: pointer;
}

.weather-container {
  margin-top: 50px;
  display: flex;
  gap: 50px;
  padding: 0;
}

.weather-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.temperature {
  margin-top: 20px;
  color: white;
  font-size: 55px;
}

.city-name {
  color: white;
  font-size: 32px;
}

.rain-chance {
  color: #8a96a9;
}

.line {
  width: 0.5px;
  height: 95px;
  background-color: #2e3e5b;
}

.forecast-item h2 {
  color: #dee3ed;
}

.weather-forecast {

  text-align: center;
  padding: 30px;
  width: 100%;
  margin: 0 auto;
  color: #8a96a9;
  background-color: #242d3d;
  border-radius: 10px;
}

.temperature-block {
  width: 100%;
  display: flex;
  gap: 18px;
}

.titleForecast {
  font-size: 18px;
  text-align: justify;
  padding-bottom: 15px;
}

.temperature-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.forecast-item p {
  font-size: 14px;
  font-weight: bold;
}

.forecast-item img {
  width: 40px;
  height: 40px;
}

.forecast-item h2 {
  font-size: 18px;
}

.air-conditions {
  width: 100%;
  background-color: #242d3d;
  margin: 10px 0 0 0;
  padding-top: 15px;
  padding-left: 15px;
  border-radius: 12px;
  color: #8a96a9;
}

.air-conditions h1 {
  color: #dee3ed;
  margin-top: 6px;
}

.title-action {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

.see_more {
  width: 80px;
  height: 28px;
  border-radius: 20px;
  margin-top: -8px;
  border: none;
  color: white;
  background-color: rgb(33, 121, 229);
  cursor: pointer;
}

.weather_temp {
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: 450px;
  padding: 5px;
}

.second_section {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  max-width: 450px;
  padding-bottom: 20px;

}

.temp_value p {
  display: flex;
  gap: 2px;
}

.wind-info p {
  display: flex;
  gap: 2px;
}

.humidity_level p {
  display: flex;
  gap: 4px;
}

.uv_index p {
  display: flex;
  gap: 4px;
}

.weather_forecast {
  width: 100%;
  height: 650px;
  background-color: #242d3d;
  color: #8a96a9;
  margin-top: 70px;
  border-radius: 10px;
}

.today_box,
.tue_box,
.wed,
.thu_box,
.fri,
.sat_box,
.sun_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.tue_box p:nth-of-type(2),
.tue_box span,
.today_box p:nth-of-type(2),
.today_box span,
.wed p:nth-of-type(2),
.wed span,
.thu_box p:nth-of-type(2),
.thu_box span,
.fri p:nth-of-type(2),
.fri span,
.sat_box p:nth-of-type(2),
.sat_box span,
.sun_box p:nth-of-type(2),
.sun_box span {
  color: white;
}

.text_aside {
  margin: 20px 0 0 35px;
}

.main_box {
  display: flex;
  gap: 20px;
}

.lines_aside {
  width: 370px;
  height: 0.5px;
  background-color: #2e3e5b;
  margin: 0 auto;
  margin-top: 30px;

}